@charset "UTF-8";

@font-face {
    font-family: 'motivasans';
    src: url(fonts/MotivaSansRegular.woff.ttf) format('truetype');
}
* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #171A21;
    height: 90px;
    min-height: 90px; 
    color: #c6d4df;
}

div#conteudo {
    margin: auto;
    width: 950px;
    height: 90px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div#logo {
    float: left; 
    width: 200px;
    height: 90px;
    display: inline-block;
}

nav#menu {
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 35px;
    
}

div.menu-itens {
    color: #c6d4df;
    text-decoration: none;
    font-family: 'motivasans',Arial, Helvetica, sans-serif;
}

div.interativo-loja  {
    float: left;
    width: 50px;
    height: auto;   
}

div  a {
    width: -10px;
    color: #c6d4df;
    text-decoration: none;
}
div > .navegacao > p {
    display: none;
    width: 300px;   
}

div:hover > .navegacao > p {
    display: block;
    color: #c6d4df;
    background-color: #171A21;
}
div a:hover {
    color: white; 
}

nav#configuracoes {
    float: right;
}

nav#configuracoes > a {
    color: white;
    font-family: 'motivasans',Arial, Helvetica, sans-serif;
}