@charset "UTF-8";

@font-face {
    font-family: 'motivasans';
    src: url(fonts/MotivaSansRegular.woff.ttf) format('truetype');
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: 'motivasans', Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', 'cursive'; 
    --fonte-android: 'android', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1B2838;
}

header {
    background-color: #171A21;
    height: 90px;
    min-height: 90px; 
    color: #c6d4df;
    
}

main {
    width: 950px;
    margin: auto;
}

div#conteudo {
    margin: auto;
    width: 950px;
    height: 90px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div#logo {
    float: left; 
    width: 200px;
    height: 90px;
    display: inline-block;
}

div#conteudo > ul {
    list-style: none;
    display: inline-block;
    float: left;
}

.menu {
    cursor: pointer;
    float: left;
    padding-right: 20px;
    padding-top: 38px;
    color: #b8b6b4;
    font-family: 'motivasans',Arial, Helvetica, sans-serif;
    
}

.menu:hover {
    color: white;
}

.menu > ul {
    display: none;
    position: fixed;
    list-style: none;
    background-color: #171A21;
    --fonte-padrao: 'motivasans', Arial, Verdana, Helvetica, sans-serif;
    padding: 20px;
}

.menu:hover > ul {
    display: block;
    
}

.config a {
    float: right;
    color: #b8b6b4;
    text-decoration: none;
    padding: 10px;
}

#instale-o-steam a {
    background-color: #5C7E10;
    color: white;
    
}

#navegacao {
    background-image: linear-gradient(to right,#4481b3, #194058);
    margin: auto;
    width: 950px;
    height: 35px;
    margin-top: 30px;   
    
}

#navegacao nav {
    text-align: center;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    color: white;
       
}

#navegacao nav:hover {
    background-color: #316282;
}

#search {
    float: right;
    padding-top: 5px;
}

#pesquisa {
    background-color: #316282;
    border: 0px;
    padding-top: 15px;
}
